* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

p {
	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #7B7573;
	line-height: 24px;
	font-weight: 400;
}

strong {
	font-size: 16px;
	color: #7B7573;
	line-height: 24px;
}

.top-menu {
	background-color: #031731;
	color: #fff;
}

body {
	background-color: #dcdcdc;
}

.banner.main {
	margin: 1em 0 0 0;
}

.background_white {
	background-color: #fff;
	padding: 1em 2em 2em 2em;
}

h3 {
	color: #0f213a;
}

a {
	display: block;
	margin: 10px 0 0 0;
	color: #c64f17;
 	font-size: 14px;
 	line-height: 17px;
}

.add-item-form input,
.add-item-form select,
.add-item-form span {
	display: block;
}

.add-item-form span,
.add-submit-button {
	margin: 20px 0 0 0;
}

.login-container {
	margin-top: 1em;
	display: inline-block;
	vertical-align: middle;
}

.title-container {
	display: inline-block;
	vertical-align: middle;
}

#result {
	display: inline-block;
  vertical-align: middle;
  padding: 0 1em 0 0;
}

#signinButton {
	display: inline-block;
  vertical-align: middle;
}

.signin-button {
	display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
  background-color: #c64f17;
  padding: 0.6em 1em;
  cursor: pointer;
	transition: 0.3s;
}

.signin-button:hover {
	background-color: #fff;
	color: #989898;
	opacity: 0.9;
}

.edit-item-buttons a {
	display: inline-block;
}
