{% extends "main.html" %}
{% block content_area %}
<div class="container">

	<div class="banner main">
		<div class="col-md-4 background_white">
			<h3>Categories</h3>

			{% for category in categories %}
				<a href = "{{url_for('showCategoryItems', category_id = category.id)}}">
					{{category.name}}
				</a>
			{% endfor %}

		</div>
		<div class="col-md-8 background_white">
			<h3>{{currentCategory.name}} items ({{stockItemsNum}} items)</h3>


			{% if loginStatus['loginStatus'] %}
				{% print 'from template, user is logged in' %}
				<a href = "{{url_for('newStockItem', category_id = currentCategory.id)}}">
					Add item
				</a>
			{% endif %}




			{% for singleItem in stockItems %}
				<a href = "{{url_for('showStockItem', category_id = currentCategory.id, stockItem_id = singleItem.id)}}">
					{{singleItem.name}} <span>({{singleItem.category.name}})</span>
				</a>
			{% endfor %}

		</div>
		<div class="clearfix"></div>
	</div>


</div>
{% endblock %}
