<div class="row top-menu">
	<div class="container">
		<div class="col-md-6">
			<h2>Catalog App</h2>
		</div>
		<div class="col-md-6 text-right">
	    <div id="signinButton">
	      <span class="g-signin"
	        data-scope="openid email"
	        data-clientid="859037964953-f8ee19bpjfnhfth7tefnc38gb955fmcg.apps.googleusercontent.com"
	        data-redirecturi="postmessage"
	        data-accesstype="offline"
	        data-cookiepolicy="single_host_origin"
	        data-callback="signInCallback"
	        data-approvalprompt="force">
	      </span>
	    </div>
	    <div id="signOutButton" style="display:none;" onclick="logout();return false;">Logout</div>
		  <div id="result"></div>
		</div>
	</div>
</div>
<script>

function checkLogin() {
    $.ajax({
      type: 'GET',
      url: '/checkLoginState',
      processData: false,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
			  console.log(result);
			  // Hide or show the sign-in button according to login status
			  if ( result === 'Current user is connected.') {
					$('#signinButton').attr('style', 'display: none');
					$('#signOutButton').attr('style', 'display: inline-block');
			  } else{
			  	$('#signinButton').attr('style', 'display: inline-block');
			  	$('#signOutButton').attr('style', 'display: none');
			  }
		  }
		}); 
}
checkLogin();

function signInCallback(authResult) {
  if (authResult['code']) {
    $.ajax({
      type: 'GET',
      url: '/login',
      processData: false,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
			  console.log(result);
		    $.ajax({
		      type: 'POST',
		      url: '/gconnect?state='+result,
		      processData: false,
		      data: authResult['code'],
		      contentType: 'application/octet-stream; charset=utf-8',
		      success: function(result) {
		        // Handle or verify the server response if necessary.
		        if (result) {
		          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
		         setTimeout(function() {
		          window.location.href = "/";
		         }, 4000);        
			      } else if (authResult['error']) {
					    console.log('There was an error: ' + authResult['error']);
					  } else {
					    $('#result').html('Failed to make a server-side call. Check your configuration and console.');
					  }
				  }
				}); 
		  }
		}); 
  } 
}

function logout() {
  // Send the logout request
  $.ajax({
    type: 'GET',
    url: '/gdisconnect',
    processData: false,
    contentType: 'application/octet-stream; charset=utf-8',
    success: function(result) {
      // Handle or verify the server response if necessary.
      if (result) {
      	window.location.href = "/";     
      } else if (authResult['error']) {
		    console.log('There was an error: ' + authResult['error']);
		  } else {
		    $('#result').html('Failed to make a server-side call. Check your configuration and console.');
		    console.log(result);
		  }
	  }
	}); 
}

</script>
<!--END GOOGLE PLUS SIGN IN -->
