{% extends "main.html" %}
{% block content_area %}
<div class="container">

	<div class="banner main background_white">
		<div class="col-md-12">
			<h3>{{stockItem[0].name}}</h3>

			<p>{{stockItem[0].description}}</p>

		</div>
		<div class="clearfix"></div>
		
		{% if loginStatus['loginStatus'] %}
			{% print 'from template, user is logged in' %}
			<a href = "{{url_for('editStockItem', stock_name=stockItem[0].name)}}">
				Edit
			</a>
			|
			<a href = "{{url_for('deleteStockItem', stock_name=stockItem[0].name)}}">
				Delete
			</a>
		{% endif %}

	</div>

</div>
{% endblock %}
