{% extends "main.html" %}
{% block content_area %}
<div class="container">

	<div class="banner main background_white">
		<div class="col-md-12">
			<h3>Add Item</h3>

			<form action="{{url_for('newStockItem', category_id = category_id)}}" method="POST" class="add-item-form">
			  <span>Title:</span>
			  <input type="text" name="name">
			  <span>Description:</span>
			  <input type="text" name="description">
			  <span>Category:</span>
				<select name="select_value">
					{% for category in categories %}
								<option value="{{category.id}}">{{category.name}}</option>
					{% endfor %}
				</select>
			  <input type="submit" value="Submit" class="add-submit-button">
			</form>

		</div>
		<div class="clearfix"></div>
	</div>

</div>
{% endblock %}

